body {
    background-color: #FFFFFF;
    font-family: sans-serif;
}

#logo {
    float: left;
    width: auto;
    height: auto;
}

@media (max-width: 768) {
    .no-padding {
        display: block;
        padding: 20px;
        font-size: small;
    }
}

h1 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#timestamp {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 30px;
    padding-top: 15px;
}

.no-padding {
    position: absolute;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #6C7F11;
    height: 135px;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-weight: 900;
}

#videoplayer {
    padding-top: 135px;
    position: static;
}
