body {
    background-color: #bcf7c6;
    font-family: sans-serif;
}

#logo {
    float: left;
    width: auto;
    height: auto;
}

.header {
    text-align: center;
    padding: 25px;
    color: white;
    font-size: 20px;
    background-color: green;
}

